.barra{width: 70% !important; display:none;}
.barra1{width: 70% !important; display:none; margin-top: 10px;}
.carous{width:100%; height: 200px;}
.arriba{width: 100%; margin-top: 40px;}
.barralta{margin-top: 50px;}
.abajo{margin-bottom: 40px;}
.arriba2{margin-top: 30px;}
.barralta2{margin-top: 50px;}